<ion-view id="checarCpf" view-title="RESGATAR SENHA">

    <ion-content>

        <form id="formLogin" ng-submit="verificaCPF()">
            <div class="cpf-input">
                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="cpf">CPF</label>
                            </div>
                            <div class="col-offset-10 col-center">
                                <label>ex.:01201234109</label>
                            </div>
                        </div>
                        <input mask="99999999999" name="cpf" type="text" ng-model="resgate.cpf" />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-offset-10 col-80">
                        <button class="button button-block">AVANÇAR</button>
                    </div>
                </div>
            </div>


        </form>
    </ion-content>

</ion-view>
