//////////////////////////////////////
//
//     FONT PADRÃO DO APP
//
//////////////////////////////////////

@font-face {
    font-family: 'OfficinaSerif';
        src: url('../font/ITC Officina Serif Std/OfficinaSerifStd-Bold.otf');
}

//////////////////////////////////////
//
//     COMPONENTES PADRÕES DO APP
//
//////////////////////////////////////

* {

    color: $corDoText;

}

.button.button-vivo {

    background-color: $laranja;
    border: none;
    color: $roxoEscuro;
    border-radius: 5px;

}

.input-options {

    font-size: 10px;

}

label.checklabel {

    display: block;
    padding-left: 15px;
    text-indent: -15px;
    line-height: 16px;

}

input[type="password"],input[type="text"],input[type="date"],input[type="tel"] {

    padding-left: 10px;
    font-size: 16px;

}

button[type="submit"] {

    background-color: transparent;
    border: none;

}

input[type="checkbox"] {

    background-color: #ffffff;
    border-radius: 5px;
    width: 15px;
    height: 15px !important;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    display: inline;


}

.divisao {

    width: 100%;

}

ion-content {

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background: $roxoEscuro; /* Fallback background color for non supported browsers */
    background-image: -moz-radial-gradient(center 45deg,circle cover, #7E47A4, #000000);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#7E47A4), to(#000000));

}

h1,.title.title-center.header-item,.platform-android .bar .title {

    font: 700 28px / 20px OfficinaSerif;
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.22);
    color: #ffffff;
    text-align: center;

}

label {

    color: #ffffff;
    font: 400 13px / 20px Arial;
    line-height: 20px;
    display: block;

}

input,.item-select select,.item-select{

    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 50px !important;

}

select option,.item-select select,.item-select{

    color: black !important;

}

.popup-container.active .popup {

    width: 100%;
    background-color: #f7941d;
    box-shadow: -2px 3px 4px 0.00px rgba(0, 0, 0, 0.22);

    div.col-33 {

        text-align: center;

        i {

            font-size: 80px;
            text-align: center;
            display: inline-block;
            margin-top: 30px;
            color: #6d2b91;

        }
    }

    .popup-head {

        border: none;
        padding-bottom: 5px;

        h3 {
            text-align: left;
            color:#6d2b91;
            font: 700 20px / 18px Arial;
        }

    }

    .popup-body {

        padding-bottom: 0px;

        span {

            color: #6d2b91;
            font: 400 15px / 16px Arial;

        }

    }

    .popup-buttons {

        padding-top: 0px;

        button {

            font-weight: 600;
            background: none;
            border: none;
            color: #6d2b91;
            text-align: left;
            padding-left: 0px;

        }

    }

}




