<ion-view hide-nav-bar="true" ng-init="auth()">

    <ion-content>

        <img class="logo" src="img/logo.png">

        <h1>LOGIN</h1>

        <div class="row">
            <div class="col col-offset-10 col-80">
                <img class="divisao" src="img/divisao.png">
            </div>
        </div>

        <form id="formLogin" ng-submit="doLogin()">
            <div class="cpf-input">
                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="cpf">CPF</label>
                            </div>
                            <div class="col-offset-10 col-center">
                                <label>ex.:01201234109</label>
                            </div>
                        </div>
                        <input name="cpf" type="text" ng-model="loginData.cpf" />
                    </div>
                </div>
            </div>

            <div class="senha-input">
                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <label for="cpf">SENHA</label>
                        <div id="senha-input" class="row">
                            <div class="col">
                                <input name="cpf" type="password" ng-model="loginData.senha" />
                            </div>
                            <button type="submit">
                                <div class="col col-20">
                                    <img style="height: 50px" src="img/buttonNext.png">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-options">
                <div class="row">
                    <div class="col col-offset-10" style="padding: 0px;"><a href="#" style="font-size: 12px;" ng-click="onClickEsqueciSenha()">Esqueci minha senha</a></div>
                    <div class="col">
                        <label class="checklabel"><input type="checkbox" ng-model="remember.value"> Manter conectado</label>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row">
                    
                    <div class="col" style="text-align: center; cursor: pointer;" ng-controller="vendasController" ng-click="vendaNaoCadastrada()">
                       Lançar venda - Não cadastrados.
                    </div>
                     
                </div>
            </div>


        </form>
    </ion-content>

    <a href="#" ng-click="onClickCadastrar()">
        <ion-footer-bar align-title="left" class="bar-balanced">
            <h1>Não sou cadastrado!</h1>
        </ion-footer-bar>
    </a>

</ion-view>
