<ion-view id="dados" view-title="DETALHES" ng-init="getDados()">

    <ion-content>

        <div class="row">
            <div class="col">
                <div class="titulo">NOME</div>
                <div class="dado">{{dados.nomePromotor}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">CPF</div>
                <div class="dado">{{dados.CPF}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">CELULAR</div>
                <div class="dado">{{dados.celular}}</div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="titulo">REDE</div>
                <div class="dado">{{dados.nomeRede}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">CNPJ</div>
                <div class="dado">{{dados.CNPJ}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">ENDEREÇO</div>
                <div class="dado">{{dados.endereco}}</div>
            </div>
        </div>

        <div>
            <div id="banner-warn" class="row">
                <div class="col col-20"><i class="icon ion-android-warning"></i></div>
                <div class="col col-offset-10">
                    <div class="popup-body"><span>Em caso de erros cadastrais, procure seu Gerente de Contas Vivo.</span></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">GERENTE VIVO</div>
                <div class="dado">{{dados.nomeGC}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">TELEFONE</div>
                <div class="dado">{{dados.celularGC}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block button-vivo" ng-click="setDataUpdateSenha()">{{btnMSG}}</button>
            </div>
        </div>

    </ion-content>

</ion-view>
