<ion-view id="novaSenha" view-title="NOVA SENHA" ng-init="getDados()">

    <ion-content>
     <form id="formLogin" ng-submit="sendUpdateSenha()">
            <div class="cpf-input">

                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="senha">Senha: </label>
                            </div>
                        </div>
                        <input name="senha" type="password" ng-model="dados.senha" />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="senha">Repetir senha</label>
                            </div>
                        </div>
                        <input name="repSenha" type="password" ng-model="dados.repSenha" />
                    </div>
                </div> 

                <div class="row">
                    <div class="col col-offset-10 col-80">
                        <button class="button button-block button-vivo">{{btnMSG}}</button>
                    </div>
                </div>
            </div>


        </form>

    </ion-content>

</ion-view>
