<ion-side-menus enable-menu-with-back-views="false">

    <img ng-controller="homeController" ng-show="showBrandLogo" id="nav-logo" src="img/logo.png">

    <ion-side-menu-content ng-class="{'add-bar': removeNavbarBackground}">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close  ng-click="meusDados()">
                    MEUS DADOS
                </ion-item>
                <ion-item menu-close ng-click="minhasVendas()">
                    MINHAS VENDAS
                </ion-item>
                <ion-item menu-close ng-click="novaVenda()">
                    NOVA VENDA
                </ion-item>
                <ion-item menu-close ng-click="extratorPontos()">
                    EXTRATO DE PONTOS
                </ion-item>
                <ion-item menu-close ng-controller="homeController" style="color:#CCCCCC" ng-click="syncDBa()">
                    SINCRONIZAR
                </ion-item>
                <ion-item menu-close ng-click="hotSite()">
                    HOTSITE
                </ion-item>
                <ion-item menu-close ng-click="regulamento()">
                    REGULAMENTO
                </ion-item>
                <ion-item menu-close ng-click="ajuda()">
                    AJUDA
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    SAIR
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
