<ion-view id="listVenda" view-title="MINHAS VENDAS" ng-init="listarVendas()">

	<ion-content>
		<div class="list">
			<div ng-repeat="venda in vendasList">

				<div class="item item-thumbnail-left" ng-class="{itemGray: $index%2 == 0}">
					<div class="row">
						<div class="col">
							<span class="title">DATA</span><br>
							<p class="bold">{{venda.dataRegistro | date:'shortDate'}}<p>
						</div>
						<div class="col col-25">
							<span class="title">DDD</span><br>
							{{getDDD(venda.linha)}}
						</div>
						<div class="col col-25">
							<span class="title">LINHA</span><br>
							{{removeDDD(venda.linha)}}
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col">
							<span class="title">PRODUTO</span><br>
							<p class="bold">{{venda.labelPlano}}<p>
						</div>
						<div class="col col-25">
							<span class="title">PONTOS</span><br>
							{{venda.pontos}}
						</div>
						<div class="col col-25">
							<span class="title">STATUS</span><br>
							<i class="icon ion-loop unable"></i>
							<i class="icon ion-android-time" ng-class="{unable: venda.status != 'pendente'}"></i>
							<i class="icon ion-close" ng-show="venda.status == 'bloqueado'"></i>
                            <i class="icon ion-android-done" ng-hide="venda.status == 'bloqueado'" ng-class="{unable: venda.status != 'valida'}"></i>
							<!--i class="icon ion-android-done"></i-->
						</div>
					</div>
				</div>

			</div>
		</div>
	</ion-content>

</ion-view>
