<ion-view id="novaVenda" view-title="NOVA VENDA" ng-init="getDados()">

    <ion-content>
        <form id="formLogin" ng-submit="enviaNovaVendaNaoCadastrado()" style="margin-top: 20px;">
            <div class="cpf-input">
				

				 <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="CPF">CPF</label>
                            </div>
                        </div>
                        <input mask="99999999999" name="CPF" type="text" ng-model="venda.CPF" />
                    </div>
                </div>
                 <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="CNPJ">CNPJ</label>
                            </div>
                        </div>
                        <input mask="99999999999999" name="CNPJ" type="text" ng-model="venda.CNPJ" />
                    </div>
                </div>
    		    <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="data">DATA</label>
                            </div>
                        </div>
                        <input mask="99/99/9999" name="data" type="text" ng-model="venda.dataRegistro" />
                    </div>
                </div>

                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="linha">CELULAR (DDD + LINHA)</label>
                            </div>
                        </div>
                        <input mask="(99) 999999-9999" name="linha" type="text" ng-model="venda.linha" />
                    </div>
                </div>

                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label for="linha">PLANO</label>
                            </div>
                        </div>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Selecione
                            </div>
                            <select name="plano" ng-model="venda.idPlano">
                                <option ng-repeat="plano in planos" value="{{plano.id}}">{{plano.label}}</option>
                            </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-offset-10 col-80">
                        <button class="button button-block button-vivo">CONCLUIR</button>
                    </div>
                </div>
            </div>


        </form>

    </ion-content>

</ion-view>
