#listVenda {
    ion-content {
        
        background-color: white;
        background: white;

    }

    * {

    	color: #4A4A4A;
    	font-size: 14px;

    }

    .itemGray {

    	background-color: #EBEBEC;

    }

    .list {

    	margin-top: 0px;

    }

    span.title {
	    font-size: 11px;
	}

	span.bold,p.bold {

		font-weight: 600;
		color: #757575;

	}

	i {
	    padding: 3px;
	}

	hr {
	    margin: 0px;
	}

	i.icon.ion-loop {
		color: #F99217 !important;
	}

	i.icon.ion-android-time {
	    color: #148ECC !important;
	    font-size: 23px;
	}

	i.icon.ion-android-done {
	    color: #8BCA3D !important;
	}

	i.icon.ion-close {
	    color: #EE1B26 !important;
	    font-size: 20px !important;
	}

	i.icon {

		font-size: 25px;

	}

	i.icon.unable {

		color: #CFCFCF !important;

	}


}