.menu .bar-header {
    height: 78px;
    background-color: $roxoEscuro;
}

ion-side-menu-content.add-bar .bar.bar-stable {

    background-color: $roxoEscuro !important;

}

.bar-stable .button.button-clear {

    margin-top: 16px;
    margin-left: 20px;

    i {

        color: $laranja;

    }

}

.title.title-center.header-item,.platform-android .bar .title {

    top: 20px;
    padding-top: 15px;

}

.bar.bar-stable {

    background-color: #48295E;
    height: 78px !important;
    border: none !important;

}

.bar-stable .button.button-icon {

    color: #ffffff;
    margin-left: 15px;
    margin-top: 15px;

}

#nav-logo {

    $width: 206px;
    $height: 93px;
    position: absolute;
    width: $width;
    height: $height;
    left: 50%;
    margin-top: 5px;
    margin-left: (-$width/2)+10; /* Half the width */
    z-index: 4;
    -webkit-transition: left 0.5s;

}

.has-header {

    top: 79px;

}

body.menu-open #nav-logo {

    left: 130px !important;

}

.list {

    margin-top: 20px;

    ion-item,.item-content {

        background-color: transparent;
        border: none;
        font-size: 12px;
        color: #6d2b91;

    }

    .item {

        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 20px;

    }

    .item.item-complex {

        padding-left: 0px;

    }

    .item.activated,.item-content.activated {

        background-color: #f7941d;

    }

    .item-content {

        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 20px;

    }

}

ion-side-menu ion-content {

    background: none;
    background-color: white;

}
