#checarCpf {

    .button {

        background-color: $laranja;
        border: none;
        color: $roxoEscuro;

    }

}

#exibirCpf {

    .row {

        padding-left: 30px;
        padding-right: 30px;

    }

    .titulo {

        color: rgba(255, 255, 255, 0.4);
        font: 400 10px / 20px Arial;

    }

    .dados {

        font: 400 12px / 20px Arial;
        color: #ffffff;

    }

    hr {

        margin-left: 30px;
        margin-right: 30px;
        height: 1px;
        background-color: #ffffff;
        border: none;

    }

    #banner-warn {

        background-color: $laranja;
        margin: 10px 0px;

        >div:first-child {

            i {

                font-size: 60px;
                color: $roxoEscuro;

            }

        }

        .popup-body {
            padding: 0px;

            span {
                color: $roxoEscuro;
            }

        }

    }

}
