<ion-view id="home" title="">

    <ion-content>

        <div class="row">

            <div class="col">
                <div class="tile-button" ng-click="novaVenda()">
                    <i class="icon ion-ios-cart"></i>
                    <span>NOVA VENDA</span>
                </div>
            </div>

            <div class="col">
                    <div class="tile-button" ng-click="listaVenda()">
                        <i class="icon ion-ios-albums"></i>
                        <span>MINHAS VENDAS</span>
                    </div>
            </div>


        </div>

        <div class="row">

            <div class="col">
                    <div class="tile-button" ng-click="extratoPontos()">
                        <i class="icon ion-ios-calculator"></i>
                        <span>EXTRATO DE PONTOS</span>
                    </div>
            </div>
            <div class="col">
                    <div class="tile-button" style="opacity:0.5" ng-click="syncDBa()">
                        <i class="icon ion-android-sync"></i>
                        <span>SINCRONIZAR</span>
                    </div>
            </div>

        </div>

    </ion-content>

</ion-view>
