<ion-view id="ajuda" view-title="AJUDA">

    <ion-content>

        <form id="form-email-ajuda" ng-submit="doAjuda()">
            <div class="form-email">
                <div class="row">
                    <div class="col col-offset-10 col-80" class="input-label">
                        <div class="row header">
                            <div class="col">
                                <label>GERENTE VIVO</label>
                                <label>{{nomeCG}}</label>
                            </div>
                            <div class="col-offset-10 col-center">
                                <label>TELEFONE</label>
                                <label>{{celularGC}}</label>
                            </div>
                        </div>
                        <textarea style="width: 100%;" name="mensagem" rows="12" cols="41" ng-model="ajudaData.mensagem"></textarea>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col col-offset-10 col-80">
                        <button class="button button-vivo">ENVIAR</button>
                    </div>
                </div>
            </div>


        </form>
    </ion-content>

</ion-view>
